.description {
    display: flex;
    padding: 0px 20px 10px;
    gap: 50px;
    margin-top: -50px;
  }
  
.desc-card {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
  }
  .card-title {
    background-color: #27444a;
    color: #9f8b76;
    font-family: 'Cinzel',serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 86px;
    text-align: center;
    border-radius: 20px;
    padding: 0px 10px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px 0px 10px;
  }
  .card-content h2 {
    color: #ffff;
    text-align: center;
  }